.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.input{
    width: 50vw;
    height: 14vh;
    padding: 10px;
    border-color: grey;
    border-radius: 5px;
    border-width: 2px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
}
.button{
    font-weight: bold;
    margin-top: 5px;
    background-color: rgb(47, 145, 47);
    color: white;
    width: 30%;

}